/* ----------responsive--------- */
@media (max-width: 1440px) {
    /* .container {
        
        padding: 0 16px;
    } */
    .flash-responsive {
        padding: 0 20px;
    }
    .slick-arrow {
        display: none !important;
    }
}
@media (max-width: 1260px) {
    .food-detail-right {
        /* padding-right: 50px; */
    }
    .food-detail-left {
        padding: 0px !important;
    }
    .cart-items .cart-total {
        /* margin-left: 5px !important; */
        width: 35% !important;
    }
    .category {
        display: none;
    }
    .category-list {
        display: block;
    }
    .category-item {
        min-width: 200px;
        width: unset;
        min-height: 55px;
        text-align: center;
    }
    .category-list > div {
        overflow-x: unset;
        flex-wrap: wrap;
    }
    .homeSlide {
        width: 100% !important;
    }
    .product-content {
        grid-template-columns: repeat(5, 1fr);
    }
    .wrapper > div {
        grid-template-columns: repeat(2, 1fr);
    }
    .slider-wrapper {
        width: 100% !important;
        padding: 20px 0px !important;
    }
    .shop {
        grid-template-columns: repeat(3, 1fr);
    }
    .grid6-shop {
        grid-template-columns: repeat(5, 1fr);
    }
    .shop .contentWidth {
        margin-left: 0px !important  ;
    }
}
/* 
@media (max-width: 950px) {
    .shop-detail {
        flex-direction: column;
        padding: 0px 10px;
        gap: 20px;
    }
    .shop-detail-left,
    .shop-detail-right {
        width: 100% !important;
    }
    .food-detail-btn {
        gap: 10px !important;
    }
    .food-detail-btn > div:first-child {
        width: 40% !important;
    }
    .food-detail-btn > div:last-child {
        width: 100% !important;
    }
    .food-detail-shop {
        width: 100px !important;
    }

    .food-detail-right {
        width: 60%;
        padding-right: 20px;
    }
    .food-detail-right > div {
        
    }
    .mobile-active {
        display: none !important;
    }
    .mobile-inactive {
        display: flex !important;
    }
    .cart-mobile {
        flex-direction: column;
    }
    .checkout-total {
        width: 100% !important;
    }
    .checkout-product {
        width: calc(100% - 20px) !important;
        margin: auto;
    }
    .cart-items {
        padding: 20px 0 !important;
    }
    .cart-items .cart-total,
    .cart-details {
        margin-top: 0px !important;
        width: 100% !important;
    }
    .product-content {
        grid-template-columns: repeat(4, 1fr);
    }
    .product-grid-mobile {
        grid-template-columns: repeat(4, 1fr) !important;
    }
    .grid6-shop {
        grid-template-columns: repeat(4, 1fr);
    }
    .best-sale {
        grid-template-columns: repeat(3, 1fr);
    }
    .annocument-grid > div:last-child {
        display: none;
    }
    .head .left i {
        display: none;
    }
    .head .left label {
        display: none;
    }

    .head .left {
        width: 0% !important;
    }
    .head .right {
        width: 100% !important;
    }
} */

@media (max-width: 700px) {
    .main {
        height: 100% !important;
        border-radius: 0 !important;
    }
    .root {
        background-image: none !important;

        /* width: 100vh; */
    }
    /* -------------------------- */
    .cart-main {
        border-radius: 0 !important;
    }
    .cart-main-container > div {
        height: 70px !important;
        right: 3% !important;
        bottom: 4%;
    }
    .home-menu > div .home-menu-item:last-child {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .home-menu > div {
        gap: 10px !important;
    }
    .footer-icon {
        width: 150px !important;
    }
    .home-menu-item {
        gap: 0px !important;
    }
    .home-menu-item-icon {
        width: 70px !important;
        height: 50px !important;
    }
    .home-menu-item span {
        font-size: 1rem !important;
    }
    .product-slide h3 {
        font-size: 18px;
    }
    .header-white-img {
        width: 25px !important;
        height: 25px !important;
    }
    .header-white-container {
        gap: 15px !important;
    }
    .header-white-building {
        font-size: 0.95rem;
    }
    .header-white {
        border-radius: 0px !important;
    }

    .order-wrapper {
        padding: 10px;
        border-radius: 0.5rem;
    }
    .order-detail-container {
        /* padding: 0px; */
    }
    .order-wrapper img {
        width: 100%;
    }
    .order-detail-info {
        margin-top: 0px;
    }
    .order {
        gap: 20px !important;
        /* margin: 5px 5px; */
        padding: 15px 0px !important;
        /* border-top: 1px solid rgb(230, 230, 230); */
    }
    .order-total > div:first-child {
        font-size: 14px;
    }
    .order-total > div:first-child > span {
        font-size: 16px !important;
    }
    .order-detail-text-price {
        font-size: 17px !important;
    }
    .order-detail-total-titlte {
        color: #000 !important;
    }
    .order-detail-total-text {
        font-size: 15px !important;
    }
    .order-detail-total {
        padding: 5px 5px 5px 0px;
    }
    .order-detail-total > div {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .order-img {
        width: 80px !important;
        height: 80px !important;
    }
    .order-store-title {
        font-size: 16px !important;
    }
    .order-store-time {
        font-size: 14px !important;
    }
    .order-store-status {
        font-size: 12px !important;
    }
    .order-store-btn {
        font-size: 13px !important;
    }
    .order-info {
        gap: 5px !important;
    }
    /* .order-img {
        width: 70px !important;
    }
   
    .order-store > div > div > span {
        font-size: 13px;
    }
    .order-store > div > div > i {
        font-size: 14px;
    }
    .order-store-status {
        display: none;
    }
    .order-store {
        padding: 10px 5px 5px 5px;
    }
    .order-total {
        flex-direction: row;
        padding: 10px 5px 5px 5px;
        justify-content: space-between;
        align-items: center;
    }

    .order-btn {
        width: 140px !important;
        height: 40px !important;
    } */
    .order-text-price {
        /* color: var(--secondary); */
        /* text-transform: uppercase; */
        font-size: 14px !important;
    }
    .order-text-name {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        line-height: 24px;
        font-size: 14px !important;
        font-weight: 600;
    }

    .order-text-count {
        font-size: 13px !important;
    }
    .cateogry-menu {
        padding-top: 0;
    }
    .cateogry-menu-wrapper {
        /* padding-right: 10px; */
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .cateogry-menu-img {
        width: 50px !important;
        height: 50px !important;
    }
    .cateogry-menu-img img {
    }
    .cateogry-menu-text {
    }
    .cateogry-menu-text {
        font-size: 0.75rem;
    }
    /* --------------- */
    .shop .product .img {
        /* height: 180px !important; */
    }
    .slide-img {
        height: 180px !important;
        object-fit: cover;
        padding: 0px;
    }
    .product-details h3 {
        font-size: 14px !important;
    }
    /* ------------- Menu ------------- */
    .menu-text-countdown {
        color: #e94560;
    }
    .menu-text-title {
        font-size: 1.5rem;
    }
    .menu-text-detail {
        font-size: 1rem;
        font-weight: 400;
        color: rgb(120, 120, 120);
    }
    .count-down > div {
        background-color: #333333;
    }
    .non-radius {
        border-radius: 0px !important;
    }
    .food-detail {
        flex-direction: column;
        padding: 10px 15px !important;
    }
    .food-detail-shop {
        width: 120px !important;
    }
    .food-detail-left {
        width: 100%;
        padding: 10px !important;
    }
    .food-detail-left img {
        width: 100% !important;
        height: 100% !important;
        object-fit: contain;
    }
    .food-detail-right > div {
        margin-right: 0px !important;
    }
    .food-detail-right {
        width: 100%;
        padding: 0px !important;
    }
    .food-detail-btn > div:first-child {
        width: 35% !important;
    }

    .category-item {
        min-width: 200px;
        width: 100%;
        min-height: 55;
        text-align: center;
    }

    .category-list > div {
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        flex-wrap: unset;
    }
    .cart-items .img {
        width: 270px !important;
    }
    .cart-details > div {
        padding: 10px 12px;
    }
    .cart-details-info {
        padding-left: 7px !important;
    }
    .cart-details-info h4 {
        -webkit-line-clamp: 2;
    }
    .cart-items .cart-details h3 {
        font-size: 16px !important;
        font-weight: 600 !important;
    }
    .removeCart {
        margin-right: 5px !important;
    }
    .checkout-product-image {
        width: 70px !important;
        height: 70px !important;
    }
    .checkout-product-name {
        font-size: 14px !important;
    }
    .cartControl p {
        font-size: 12px !important;
    }
    .cartControl .incCart,
    .cartControl .desCart {
        margin: 5px;
    }
    .cart-items .cart-details span {
        font-size: 14px !important;
    }
    .cart-items .cart-details h4 {
        font-size: 14px !important;
        margin-top: 20px !important;
    }
    .shop {
        grid-template-columns: repeat(2, 1fr);
    }
    .grid6-shop {
        grid-template-columns: repeat(3, 1fr);
    }
    .wrapper > div {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 0px;
    }
    .annocument-grid {
        flex-direction: column;
        padding: 0 10px;
    }
    .background {
        /* padding: 0px 0; */
    }
    .product-content {
        grid-template-columns: repeat(3, 1fr);
    }
    .product-grid-mobile {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    .best-sale {
        grid-template-columns: repeat(2, 1fr);
    }
    .product-details span {
        font-size: 13px !important;
    }
    .flash-responsive h1,
    .heading .heading-left h2 {
        font-size: 1.3em;
    }
    .flash-responsive .heading img {
        width: 35px;
        height: 35px;
    }
    .row {
        width: 30%;
    }
    .product h4 {
        font-size: 0.875em;
    }
    .flash {
        padding: 20px 0 !important;
    }
    /* .header {
        display: none;
    } */
    .header-home-container {
        margin-top: 15px;
        margin-bottom: 15px;
        gap: 0px !important;
    }
    .heaader-home-img {
        width: 250px !important;
        height: 110px !important;
    }
    .header-home-container span {
        font-size: 1.5rem !important;
        line-height: 2.2rem !important;
    }
    .header-home-container p {
        font-size: 0.9rem !important;
        line-height: 1rem !important;
    }
    .search-box {
        /* display: none; */
    }
    .search {
        padding: 0px !important;
    }
    .icon-search {
        display: block;
    }
    footer > div {
        grid-template-columns: repeat(1, 1fr) !important;
        padding: 0px 10px !important;
        /* text-align: center; */
    }
    footer h2 {
        margin-bottom: 0px !important;
        font-size: 1.25em !important;
    }
    footer li {
        font-size: 16px;
    }
}
@media (max-width: 500px) {
    .food-detail-btn > div:first-child {
        width: 45% !important;
    }
    .wrap-login100 {
        padding: 30px 25px !important;
    }
    .login100-form-title {
        font-size: 26px !important;
    }
    ::-webkit-scrollbar {
        display: none;
    }
    .category-item {
        min-width: 180px;
        height: 50px;
    }
    .cart-details-info > h4 > span {
        display: none;
    }
    .checkout-list .img {
        width: 100px !important;
    }

    /* ---- */
    .checkout-content-item h2 {
        font-size: 20px;
    }
    .checkout-content-item h4 {
        font-size: 15px;
    }
    .checkout-content-item span {
        font-size: 15px;
    }
    .checkout-container {
        padding: 10px 15px 15px 15px;
    }
    .checkout-text-payment {
        margin-bottom: 5px;
    }
    .header-main {
        padding-top: 7px !important;
        padding-bottom: 7px !important;
    }
    .checkout-text-payment span {
        font-size: 0.9rem;
    }
    .checkout-text-payment img {
        width: 25px !important;
        height: 25px !important;
    }
    .checkout-text-price {
        font-size: 1.2rem !important;
    }
    .checkout-btn {
        margin-top: 10px;
    }
    .checkout-text {
        font-size: 1.05rem;
    }
    .checkout-text-require {
        font-size: 0.9rem;
    }
    /* ----- */

    .shop {
        grid-template-columns: repeat(1, 1fr);
    }
    .grid6-shop {
        grid-template-columns: repeat(2, 1fr);
    }
    .search {
        /* padding: 15px 0 !important; */
        /* padding: 15px 0 0 0 !important; */
    }
    .search.active {
        height: unset !important;
    }
    .best-sale {
        grid-template-columns: repeat(2, 1fr);
    }
    .product-content {
        grid-template-columns: repeat(2, 1fr);
    }
    .product-grid-mobile {
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .flash-responsive {
        padding: 5px;
    }
    .flash-responsive h1 {
        font-size: 1.15em;
    }

    .slick-arrow {
        display: none !important;
    }

    .icon-circle {
        margin-left: 5px;
    }

    .search .width {
        width: unset !important;
    }
}
