.loading-wrapper {
    position: fixed;
    height: calc(100% - 70px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    z-index: 99;
    transition: 1s ease-in-out;
}
