footer {
  background-color: #fff;
  padding: 100px 0;
  color: #000;
}
footer h1 {
  margin-bottom: 30px;
  color: #e94560;
  font-weight: 800;
  font-style: italic;
}
footer .img {
  background-color: #FFC528;
  padding: 15px 20px;
  border-radius: 5px;
}
footer .img i {
  font-size: 20px;
  margin: 5px;
}
footer .img span {
  margin-top: 2px;
}
footer p {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  margin-bottom: 20px;
}
footer h2 {
  margin-bottom: 20px;
  cursor: pointer;
}
footer li {
  cursor: pointer;
  margin-bottom: 10px;
  opacity: 0.5;
}

.footer-title{
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.activeFooter{
  max-height: 200px;
}